.menu {
  background-image: url(../images/background_menu.svg);
  background-color: #fff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.menu__title {
  max-width: 780px;
  flex-direction: column;
  text-align: center;
  gap: 100px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
