.reservation {
  padding: 100px 0 110px;
  background-position: center;
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/background_reservation.svg);
  font-family: Inter, Arial, sans-serif;
}

.reservation__title {
  text-align: center;
  margin: 0 0 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
  padding-bottom: 120px;
}
